@if (visible) {
<div class="modal-backdrop" (click)="onBackdropClick($event)">
  <div class="modal-container">
    <div class="modal-header">
      <h2>Editar Reloj</h2>
      <button type="button" class="btn-close" (click)="cerrarModal()">✕</button>
    </div>

    <div class="modal-body">
      <form [formGroup]="relojForm" class="reloj-form">
        <div class="color-inputs">
          <div class="input-group">
            <label for="colorLabel">Color de Texto:</label>
            <div class="color-input-wrapper">
              <input
                type="color"
                id="colorLabel"
                formControlName="colorLabel"
                class="form-control color-input"
                (change)="onColorChange()"
              />
              <span class="color-value"
                >{{ relojForm.get('colorLabel')?.value }}</span
              >
            </div>
          </div>

          <div class="input-group">
            <label for="colorManecillas">Color de Manecillas:</label>
            <div class="color-input-wrapper">
              <input
                type="color"
                id="colorManecillas"
                formControlName="colorManecillas"
                class="form-control color-input"
                (change)="onColorChange()"
              />
              <span class="color-value"
                >{{ relojForm.get('colorManecillas')?.value }}</span
              >
            </div>
          </div>

          <div class="input-group">
            <label for="colorPuntos">Color de Marcas:</label>
            <div class="color-input-wrapper">
              <input
                type="color"
                id="colorPuntos"
                formControlName="colorPuntos"
                class="form-control color-input"
                (change)="onColorChange()"
              />
              <span class="color-value"
                >{{ relojForm.get('colorPuntos')?.value }}</span
              >
            </div>
          </div>

          <div class="input-group">
            <label for="colorNumeros">Color de Números:</label>
            <div class="color-input-wrapper">
              <input
                type="color"
                id="colorNumeros"
                formControlName="colorNumeros"
                class="form-control color-input"
                (change)="onColorChange()"
              />
              <span class="color-value"
                >{{ relojForm.get('colorNumeros')?.value }}</span
              >
            </div>
          </div>

          <div class="input-group">
            <label for="colorFondo">Color de Fondo:</label>
            <div class="color-input-wrapper">
              <input
                type="color"
                id="colorFondo"
                formControlName="colorFondo"
                class="form-control color-input"
                (change)="onColorChange()"
              />
              <span class="color-value"
                >{{ relojForm.get('colorFondo')?.value }}</span
              >
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            (click)="cerrarModal()"
            class="btn btn-secondary"
          >
            Cerrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
}
